name: Upload Armbian image to Release
uses: ncipollo/release-action@main
if: ${{ steps.clean.outputs.status }} == 'success' && !cancelled()
with:
  tag: ${{ env.build_tag }}
  artifacts: build/output/images/*
  allowUpdates: true
  makeLatest: true
  token: ${{ secrets.GITHUB_TOKEN }}
  body: |2-

    ### File System
    - Btrfs
name: Upload Rebuild image to Release
uses: ncipollo/release-action@main
if: ${{ env.PACKAGED_STATUS }} == 'success' && !cancelled()
with:
  tag: ${{ env.build_tag }}
  artifacts: ${{ env.PACKAGED_OUTPUTPATH }}/*
  allowUpdates: true
  removeArtifacts: false
  replacesArtifacts: true
  makeLatest: true
  token: ${{ secrets.GITHUB_TOKEN }}
  body: "### Armbian Image information\n- Default username: `root`\n- Default password: `1234`\n- Install command: `armbian-install`\n- Update command: `armbian-update`\n### Applicable platform\n- \U0001F427 `arm64`\n- \U0001F40B Docker image: https://hub.docker.com/u/ophub\n\n\n### File System\n- Btrfs"
